@import url('https://fonts.googleapis.com/css2?family=Atma:wght@300&family=Bebas+Neue&family=Galada&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Atma:wght@300&family=Bebas+Neue&family=Galada&family=Mina&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tiro+Bangla&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body {
    background-color: #ffffff;
}
:root {
    --primarycolor: #6d00ff;
    --secondarycolor: #260a3d;
    --buttoncolor: #aa1d69;
}
.navbar {
    position: sticky;
    top: 16px;
    height: 70px;
    margin-top: 1%;
    border-radius: 5ch;
    width: 97%;
    margin-left: 1.5%;
    box-shadow: rgba(98, 41, 255, 0.315) 0px 2px 8px 0px;
    background-color: rgb(253, 253, 253, .5);
    backdrop-filter: blur(6px);
}

.navbar nav {
    top: 0;
    left: 0;
    width: 100;
    padding: 40px 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10000;
}

.navbar nav ul li {
    margin-bottom: 50px;
    padding: 0 14px;
}

.navbar nav ul li a {
    /* color: rgb(164, 166, 168); */
    text-decoration: none;
    font-weight: bolder;
    color: var(--primarycolor);
    font-size: 15px;
    font-family: 'Tiro Bangla', serif;
}

.navbar nav ul li i {
    /* color: rgb(164, 166, 168); */
    font-size: 15px;
}

.navbar nav ul li a:hover {
    color: rgb(255, 255, 255);
    padding-top: 5px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 5px;
    background: var(--primarycolor);
    border-radius: 5%;
    /* text-decoration: underline; */
    font-family: 'Tiro Bangla', serif;
}

.navbar nav ul {
    display: flex;
    align-items: center;
    list-style-type: none;
    height: 45px;
    color: rgb(138, 83, 83);
}

._favico_main img {
    /* border-radius: 50%; */
    width: 35px;
    border-radius: 10%;
    position: absolute;
    left: 5vh;
    cursor: pointer;
}

._favico_main ._favText:hover {
    /* border-radius: 50%; */
    font-size: 30px;
    font-family: 'Atma', cursive;
    font-family: 'Bebas Neue', cursive;
    font-family: 'Galada', cursive;
    font-weight: 100;
    color: rgb(158, 153, 153);
    position: absolute;
    left: 5vh;
    cursor: pointer;
}

._favico_main {
    cursor: pointer;
    display: flex;
    align-items: center;
}

.Iu {
    position: absolute;
    right: 2%;
}

.Iu img {
    border-radius: 50%;
    height: 30px;
    width: auto;
    border: 1px solid var(--primarycolor);
}
.Containter_Main {
    margin-top: 37px;
    height: 35vh;
    width: auto;
    display: flex;
    background-color: rgb(205, 255, 238);
    align-content: stretch;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: baseline;
}
.Containter_Main ._text_main {
    color: rgb(116, 116, 116);
    font-size: 35px;
    font-family: 'Atma', cursive;
    font-family: 'Bebas Neue', cursive;
    font-family: 'Galada', cursive;
    font-weight: bolder;
    margin-top: 10px;
    margin-left: 10%;
}
.Containter_Main .inp {
    display: flex;
    align-items: center;
    margin-left: 10%;
}
.Containter_Main #fname {
    height: 5vh;
    width: 20vw;
    justify-content: center;
    padding-left: 3%;
}
.Containter_Main .inp label{
    font-family: 'Atma', cursive;
    font-family: 'Bebas Neue', cursive;
    font-family: 'Galada', cursive;
    font-family: 'Mina', sans-serif;
    color: rgb(153, 153, 153);
    font-size: 25px;
    font-weight: bolder;
}
.Containter_Main .inp form input:focus{
    border: 1px dashed grey;
    outline: none;
}
.Main_Input {
    height: 700px;
    width: auto;
    display: flex;
    margin-top: 5%;
}
.Main_Input textarea {
    margin-left: 5%;
    height: auto;
    width: 70%;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    resize: vertical;
}
.Main_Input textarea:focus{
    border: 1px dashed grey;
    outline: none;
}
.Main_Input p{
    padding: 0 25px;
    color: rgb(170, 170, 170);
    font-size: 40px;
    font-weight: bolder;
    font-family: 'Atma', cursive;
    font-family: 'Bebas Neue', cursive;
    font-family: 'Galada', cursive;
    font-family: 'Mina', sans-serif;
}
.submitButton {
    margin-top: 3%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.submitButton .b {
    height: 40px;
    width: 80px;
    background-color: grey;
    border-radius: 5ch;
    display: flex;
    justify-content: center;
    align-items: center;
}
.submitButton .b p {
    cursor: pointer;
    color: white;
    font-size: 15px;
    text-decoration: underline;
    font-weight: bolder;
    font-family: 'Atma', cursive;
    font-family: 'Bebas Neue', cursive;
    font-family: 'Galada', cursive;
    font-family: 'Mina', sans-serif;
}
.end_footer {
    height: fit-content;
    width: auto;
    margin-top: 4%;
    background-color:#f3f3f3;
    position: relative;
    padding: 50px 50px 20px;
}
.end_footer ul {
    list-style-type: none;
}
.end_footer li {
    display: flex;
    padding: 0 20px;
    padding-bottom: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    justify-content: flex-end;
    font-size: 15px;
}
.end_footer li a {
    text-decoration: none;
    color: rgb(131, 131, 131);
}
.end_footer li a:hover {
    color: rgb(71, 71, 71);
}
._footer_favico a {
    color: rgb(131, 131, 131);
    font-family: 'Atma', cursive;
    font-family: 'Bebas Neue', cursive;
    font-family: 'Galada', cursive;
    text-decoration: none;
    font-size: 40px;
}
.end_footer .made_by {
    display: flex;
    justify-content: center;
    font-size: small;
}
.end_footer .made_by .nodejs_icon {
    color: green;
}
.end_footer .made_by .html_icon {
    color: rgb(214, 78, 44);
}
.end_footer .made_by .css_icon {
    color: rgb(12, 178, 219);
}
body::-webkit-scrollbar {
    width: 5px;
    height: 20px;
    border-radius: 5ch;
}
body::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 5ch;
}

body::-webkit-scrollbar-thumb {
    background: rgb(218, 218, 218);
    border-radius: 5ch;
}

body::-webkit-scrollbar-thumb:hover {
    background: rgb(200, 199, 199);
}