@import url('https://fonts.googleapis.com/css2?family=Atma:wght@300&family=Bebas+Neue&family=Galada&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Atma:wght@300&family=Bebas+Neue&family=Galada&family=Mina&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body {
    background-color: rgb(29, 29, 29);
}
.navbar {
    position: sticky;
    top: 0;
    height: 80px;
    width: auto;
    background-color: rgb(29, 29, 29, .6);
    animation: fadeIn 2s;
    backdrop-filter: blur(6px);
}
.navbar nav {
    top: 0;
    left: 0;
    width: 100;
    padding: 40px 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10000;
}

.navbar nav ul li {
    margin-bottom: 25px;
    padding: 0 14px;
}

.navbar nav ul li a {
    color:  rgb(164, 166, 168);
    text-decoration: none;
    font-weight: bolder;
    font-size: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.navbar nav ul li a:hover {
    color:  rgb(113, 155, 197);
    text-decoration: none;
    font-weight: bolder;
    font-size: 17px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    animation: fadeIn 2s;
}

.navbar nav ul {
    display: flex;
    align-items: center;
    list-style-type: none;
    height: 45px;
    color: rgb(138, 83, 83)
}

._favico_main ._favText {
    /* border-radius: 50%; */
    font-size: 30px;
    font-family: 'Atma', cursive;
    font-family: 'Bebas Neue', cursive;
    font-family: 'Galada', cursive;
    font-weight: 100;
    color: rgb(158, 153, 153);
    position: absolute;
    left: 5vh;
    cursor: pointer;
}

._favico_main ._favText:hover {
    /* border-radius: 50%; */
    font-size: 30px;
    font-family: 'Atma', cursive;
    font-family: 'Bebas Neue', cursive;
    font-family: 'Galada', cursive;
    font-weight: 100;
    color: rgb(158, 153, 153);
    position: absolute;
    left: 5vh;
    cursor: pointer;
}

._favico_main {
    cursor: pointer;
    display: flex;
    align-items: center;
}
.Iu {
    position: absolute;
    right: 2%;
}
.Iu img {
    border-radius: 50%;
    height: 30px;
    width: auto;
    border: 1px solid rgb(189, 189, 189);
}
.containerPro {
    height: 1000px;
    width: auto;
    background-color: #1d1d1d;
    animation: fadeIn 2s;
}
._Main_topic {
    top: 0;
    margin-top: 0%;
    height: 80px;
    width: auto;
    display: flex;
    align-items: center;
    background-color: #1f1f1f;
    animation: fadeIn 2s;
    /* border: 1px dashed grey; */
}

._Main_topic p {
    display: flex;
    flex-direction: column;
    margin-left: 5%;
}

._Main_topic p ._topic {
    font-size: 25px;
    background: linear-gradient(to right, #30CFD0 0%, rgb(46 251 98 / 84%) 100%);
    -webkit-background-clip: text;
    background-clip: text;
    font-family: 'Atma', cursive;
    font-family: 'Bebas Neue', cursive;
    font-family: 'Galada', cursive;
    font-family: 'Mina', sans-serif;
    font-weight: bolder;
    -webkit-text-fill-color: transparent;
}

._Main_topic p ._subText {
    font-size: 20px;
    color: grey;
    font-family: 'Atma', cursive;
    font-family: 'Bebas Neue', cursive;
    font-family: 'Galada', cursive;
    font-family: 'Mina', sans-serif;
}

._Writings {
    height: auto;
    display: flex;
    width: auto;
}
._Writings ul li {
    display: inline-block;
    align-items: center;
    list-style-type: none;
    padding: 0 15px;
    padding-top: 3%;
}
._Writings ul li .c1 {
    display: flex;
    flex-direction: column;
    height: auto;
    width: 300px;
    border-radius: 5%;
    background: linear-gradient(-75deg, #1d065c, #281457);
    border: 1px dashed grey;
}
._document {
    white-space: pre-line;
}
._tag {
    font-size: 15px; background: linear-gradient(to right, #30CFD0 0%, rgb(46 251 98 / 84%) 100%);
    -webkit-background-clip: text;
    background-clip: text;
    font-family: 'Atma', cursive;
    font-family: 'Bebas Neue', cursive;
    font-family: 'Galada', cursive;
    font-family: 'Mina', sans-serif;
    font-weight: bolder;
    -webkit-text-fill-color: transparent;
}
.c1 img {
    margin-top: 2%;
    border: 0.5px solid grey;
    margin-left: 5%;
    border-radius: 10%;
    height: 80px;
    width: 60px;
}
.c1 ._title {
    margin-left: 5%;
    color: grey;
    font-size: 20px;
    font-family: 'Atma', cursive;
    font-family: 'Bebas Neue', cursive;
    font-family: 'Galada', cursive;
    font-family: 'Mina', sans-serif;
}
.c1 ._document {
    margin-left: 6%;
    color: grey;
    font-size: 15px;
    font-family: 'Atma', cursive;
    font-family: 'Bebas Neue', cursive;
    font-family: 'Galada', cursive;
    font-family: 'Mina', sans-serif;
}
/* .posts {
    margin-top: 4%;
    display: flex;
    min-height: 30px;
    height: auto;
    width: auto;
    border: #ffffff dashed 1px;
} */
.container_right {
    margin-top: 4%;
    display: inline-block;
    /* position: absolute;
    right:0; */
    margin-left: 3%;
    height: 100%;
    width: calc(100% - 7% - 150px);
}
.container_right ul li {
    display: inline-block;
    align-items: center;
    list-style-type: none;
    padding: 0 5px;
    padding-top: 3%;
    margin-left: 2%;
}

.container ul {
    list-style-type: none;
    width: 95%;
}
.container ul li {
    height: auto;
    width: auto;
    white-space: pre-line;
    background-color: rgba(68, 68, 68, 0.2);
    border-radius: 2ch;
    margin-top: 3%;

    padding-bottom: 26px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.container ul li img {
    margin-top: 2%;
    margin-left: 2%;
    height: 120px;
    width: 90px;
    background-color: black;
    border-radius: 10%;
}

.container ul li a {
    margin-left: 2%;
    font-size: 20px;
    text-decoration: none;
    color: #d3d3d3;
    display: flex;
    align-items: center;
    font-weight: 1000;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container ul li a ._status {
    margin-left: 10px;
    height: 16px;
    padding: 5px 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgba(0, 243, 61, 0.836);
    border-radius: 5ch;
    background-color: rgba(0, 243, 61, 0.836);
    font-size: 7px;
    color: white;
    font-weight: bolder;
}

.container ul li span {
    margin-left: 2%;
    font-size: 15px;
    color: #e4e4e4;
    font-weight: 6000;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container hr {
    border: none;
    height: 0.5px;
    background-color: rgb(85, 85, 85);
    /* Modern Browsers */
}

.container ul li .containers {
    height: 200px;
    width: auto;
    border: rgb(255, 254, 254);
}

.container ul li p {
    margin-left: 2%;
    color: white;
}
body::-webkit-scrollbar {
    width: 5px;
    height: 20px;
    border-radius: 5ch;
}
body::-webkit-scrollbar-track {
    background: #1d1d1d;
    border-radius: 5ch;
}

body::-webkit-scrollbar-thumb {
    background: rgb(218, 218, 218);
    border-radius: 5ch;
}

body::-webkit-scrollbar-thumb:hover {
    background: rgb(200, 199, 199);
}