@import url('https://fonts.googleapis.com/css2?family=Atma:wght@300&family=Bebas+Neue&family=Galada&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Atma:wght@300&family=Bebas+Neue&family=Galada&family=Mina&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body {
    background-color: #ffffff;
}
.navbar {
    position: sticky;
    top: 0;
    height: 80px;
    width: auto;
    background-color: rgb(255, 255, 255, .8);
    backdrop-filter: blur(5px);
}

.navbar nav {
    top: 0;
    left: 0;
    width: 100;
    padding: 40px 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10000;
}

.navbar nav ul li {
    margin-bottom: 25px;
    padding: 0 14px;
}

.navbar nav ul li a {
    color:  rgb(164, 166, 168);
    text-decoration: none;
    font-weight: bolder;
    font-size: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.navbar nav ul li a:hover {
    color:  rgb(113, 155, 197);
    text-decoration: none;
    font-weight: bolder;
    font-size: 17px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    animation: fadeIn 2s;
}

.navbar nav ul {
    display: flex;
    align-items: center;
    list-style-type: none;
    height: 45px;
    color: rgb(138, 83, 83)
}

._favico_main ._favText {
    /* border-radius: 50%; */
    font-size: 30px;
    font-family: 'Atma', cursive;
    font-family: 'Bebas Neue', cursive;
    font-family: 'Galada', cursive;
    font-weight: 100;
    color: rgb(158, 153, 153);
    position: absolute;
    left: 5vh;
    cursor: pointer;
}

._favico_main ._favText:hover {
    /* border-radius: 50%; */
    font-size: 30px;
    font-family: 'Atma', cursive;
    font-family: 'Bebas Neue', cursive;
    font-family: 'Galada', cursive;
    font-weight: 100;
    color: rgb(158, 153, 153);
    position: absolute;
    left: 5vh;
    cursor: pointer;
}

._favico_main {
    cursor: pointer;
    display: flex;
    align-items: center;
}
.Iu {
    position: absolute;
    right: 2%;
}
.Iu img {
    border-radius: 50%;
    height: 30px;
    width: auto;
    border: 1px solid rgb(189, 189, 189);
}

.InfoComponent {
    height: 300px;
    width: auto;
    /* background-color: #f3f3f3; */
    background: linear-gradient(to right, rgb(200, 241, 241, .7) 0%,rgba(18, 255, 215, 0.7) 100%);
    animation: gradient 15s ease infinite;
    background-size: 400% 400%;
    display: flex;
    align-items: center;
}
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
.InfoComponent .contents {
    display: flex;
    align-items: center;
    /* position: absolute;
    left: 5%; */
    margin-left: 5%;
}
.InfoComponent .contents img {
    border-radius: 50%;
    height: 120px;
    width: auto;
    border: 1px solid grey;
}
.InfoComponent .contents p ._user_name{
    font-size: 30px;
    color: grey;
    font-family: 'Atma', cursive;
    font-family: 'Bebas Neue', cursive;
    font-family: 'Galada', cursive;
    font-family: 'Mina', sans-serif;
    font-weight: 200;
    margin-left: 10%;
}
.InfoComponent .contents p ._role{
    font-size: 15px;
    color: grey;
    font-family: 'Atma', cursive;
    font-family: 'Bebas Neue', cursive;
    font-family: 'Galada', cursive;
    font-family: 'Mina', sans-serif;
    font-weight: 200;
    margin-left: 10%;
    text-decoration: underline;
}
.Contributes {
    /* justify-content: center; */
    height: auto;
    display: flex;
    margin-left: 4%;
    width: auto;
    background-color: transparent;
}
.Contributes ul li {
    margin-top: 4%;
    display:flex;
    list-style-type: none;
    padding: 0 5px;
    padding-top: 3%;
}
.Contributes ul li .c1 {
    display: flex;
    justify-content: center;
    height: 30vh;
    width: 50vw;
    /* width: auto; */
    border-radius: 5ch;
    flex-direction: column;
    /* background: url('https://cdn.discordapp.com/attachments/778294816190103642/1005826920585384066/unknown.png'); */
}
/* .Contributes ul li .c1:hover {
    background-size: 200% 200%;
    animation: fadeIn 5s;
} */
.c1 ._title {
    /* background: rgb(201, 229, 157, .6); */
    margin-left: 5%;
    font-weight: bolder;
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-family: 'Atma', cursive;
    font-family: 'Bebas Neue', cursive;
    font-family: 'Galada', cursive;
    font-family: 'Mina', sans-serif;
}
.c1 ._title a{
    /* background: rgb(201, 229, 157, .6); */
    color: rgb(255, 255, 255);
    font-size: 25px;
    font-family: 'Atma', cursive;
    font-family: 'Bebas Neue', cursive;
    font-family: 'Galada', cursive;
    font-family: 'Mina', sans-serif;
}
.c1 ._document {
    background-color: rgb(201, 229, 157, .6);
    margin-left: 5%;
    display: flex;
    color: rgb(255, 255, 255);
    font-size: 15px;
    font-family: 'Atma', cursive;
    font-family: 'Bebas Neue', cursive;
    font-family: 'Galada', cursive;
    font-family: 'Mina', sans-serif;
}
