@import url('https://fonts.googleapis.com/css2?family=Atma:wght@300&family=Bebas+Neue&family=Galada&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Atma:wght@300&family=Bebas+Neue&family=Galada&family=Mina&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    background-color: #ffffff;
}

.navbar {
    position: sticky;
    top: 0;
    height: 80px;
    width: auto;
    background-color: #ffffff;
}

.navbar nav {
    top: 0;
    left: 0;
    width: 100;
    padding: 40px 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10000;
}

.navbar nav ul li {
    margin-bottom: 25px;
    padding: 0 14px;
}

.navbar nav ul li a {
    color: rgb(164, 166, 168);
    text-decoration: none;
    font-weight: bolder;
    font-size: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.navbar nav ul li a:hover {
    color: rgb(113, 155, 197);
    text-decoration: none;
    font-weight: bolder;
    font-size: 17px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    animation: fadeIn 2s;
}

.navbar nav ul {
    display: flex;
    align-items: center;
    list-style-type: none;
    height: 45px;
    color: rgb(138, 83, 83)
}

._favico_main ._favText {
    /* border-radius: 50%; */
    font-size: 30px;
    font-family: 'Atma', cursive;
    font-family: 'Bebas Neue', cursive;
    font-family: 'Galada', cursive;
    font-weight: 100;
    color: rgb(158, 153, 153);
    position: absolute;
    left: 5vh;
    cursor: pointer;
}

._favico_main ._favText:hover {
    /* border-radius: 50%; */
    font-size: 30px;
    font-family: 'Atma', cursive;
    font-family: 'Bebas Neue', cursive;
    font-family: 'Galada', cursive;
    font-weight: 100;
    color: rgb(158, 153, 153);
    position: absolute;
    left: 5vh;
    cursor: pointer;
}

._favico_main {
    cursor: pointer;
    display: flex;
    align-items: center;
}

._Main_topic {
    position: sticky;
    top: 0;
    margin-top: 2%;
    height: 80px;
    width: auto;
    display: flex;
    align-items: center;
    background-color: #f3f3f3;
    /* border: 1px dashed grey; */
}

._Main_topic p {
    display: flex;
    flex-direction: column;
    position: relative;
    left: 5%;
}

._Main_topic p ._topic {
    font-size: 25px;
    background: linear-gradient(to right, #30CFD0 0%, #330867 100%);
    -webkit-background-clip: text;
    background-clip: text;
    font-family: 'Atma', cursive;
    font-family: 'Bebas Neue', cursive;
    font-family: 'Galada', cursive;
    font-family: 'Mina', sans-serif;
    font-weight: bolder;
    -webkit-text-fill-color: transparent;
}

._Main_topic p ._subText {
    font-size: 20px;
    color: grey;
    font-family: 'Atma', cursive;
    font-family: 'Bebas Neue', cursive;
    font-family: 'Galada', cursive;
    font-family: 'Mina', sans-serif;
}
._Writings {
    height: auto;
    display: flex;
    width: auto;
    background-color: transparent;
}
._Writings ul li {
    display: inline-block;
    align-items: center;
    list-style-type: none;
    padding: 0 5px;
    padding-top: 3%;
}
._Writings ul li .c1 {
    display: flex;
    flex-direction: column;
    height: auto;
    width: 380px;
    border-radius: 5%;
    border: 1px dashed grey;
}
._document {
    white-space: pre-line;
}
._tag {
    font-size: 15px; background: linear-gradient(to right, #30CFD0 0%, #330867 100%);
    -webkit-background-clip: text;
    background-clip: text;
    font-family: 'Atma', cursive;
    font-family: 'Bebas Neue', cursive;
    font-family: 'Galada', cursive;
    font-family: 'Mina', sans-serif;
    font-weight: bolder;
    -webkit-text-fill-color: transparent;
}
.c1 img {
    margin-top: 2%;
    border: 0.5px solid grey;
    margin-left: 5%;
    border-radius: 10%;
    height: 80px;
    width: 60px;
}
.c1 ._title {
    margin-left: 5%;
    color: grey;
    font-size: 20px;
    font-family: 'Atma', cursive;
    font-family: 'Bebas Neue', cursive;
    font-family: 'Galada', cursive;
    font-family: 'Mina', sans-serif;
}
.c1 ._document {
    margin-left: 6%;
    color: grey;
    font-size: 15px;
    font-family: 'Atma', cursive;
    font-family: 'Bebas Neue', cursive;
    font-family: 'Galada', cursive;
    font-family: 'Mina', sans-serif;
}

.More {
    display: flex;
    height: 600px;
    width: auto;
    background: linear-gradient(-45deg, #9ed65e, #9a82d1, #3698c9, #cc1184);
    margin-top: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.More .Ttile p {
    width: 27vw;
    font-size: 30px;
    font-weight: bolder;
    font-family: 'Atma', cursive;
    font-family: 'Bebas Neue', cursive;
    font-family: 'Galada', cursive;
    font-family: 'Mina', sans-serif;
    color: white;
}

.More .text {
    cursor: pointer;
    height: 50px;
    width: 150px;
    background-color: rgb(243, 243, 243, .3);
    border-radius: 5ch;
    margin-left: 50px;
    margin-top: 150px;
    position: absolute;
    left: 43%;
}

.More .text p a{
    display: flex;
    justify-content: center;
    margin-top: 5%;
    color: white;
    font-size: 20px;
    font-weight: bolder;
    font-family: 'Atma', cursive;
    font-family: 'Bebas Neue', cursive;
    font-family: 'Galada', cursive;
    font-family: 'Mina', sans-serif;
}

.end_footer {
    height: auto;
    width: auto;
    background-color: #ffffff;
    padding: 50px 50px 20px;
    margin-top: 10%;
}

.end_footer ul {
    list-style-type: none;
}

.end_footer li {
    display: flex;
    padding: 0 20px;
    padding-bottom: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    justify-content: flex-end;
    font-size: 15px;
}

.end_footer li a {
    text-decoration: none;
    color: rgb(131, 131, 131);
}

.end_footer li a:hover {
    color: rgb(71, 71, 71);
}

._footer_favico a {
    color: rgb(131, 131, 131);
    font-family: 'Atma', cursive;
    font-family: 'Bebas Neue', cursive;
    font-family: 'Galada', cursive;
    text-decoration: none;
    font-size: 40px;
}

.end_footer .made_by {
    display: flex;
    justify-content: center;
    font-size: small;
}

.end_footer .made_by .nodejs_icon {
    color: green;
}

.end_footer .made_by .html_icon {
    color: rgb(214, 78, 44);
}

.end_footer .made_by .css_icon {
    color: rgb(12, 178, 219);
}